#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
  display: flex;
  --colorTheme1: black;
  --colorTheme2: #888;
  --colorTheme3: rgba(12, 12, 107, 0.94);
}
.formDiv {
  outline: solid 1px white;
  border-radius: 10px;
  max-width: 30%;
  padding: 100px;
  margin: 25px;
  text-align: end;
  max-height: 550px;
}
.cvDiv {
  max-width: 50%; 
  color: black;
  border-radius: 10px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  padding-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
header {
  padding: 20px;  
  color: white;
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
  align-items: center;
  text-align: center;
  background-color:var(--colorTheme3);
}
.name {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: end;
}
.educationDiv,
.experienceDiv {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
}
.topSpan {
  grid-column: 1 / 4; 
}
.dateRange {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.container {
  background-color: whitesmoke;

}
.flex {
  display: flex;
  justify-content: center;
}
.sectionHeader {
  background-color: var(--colorTheme2);
  width: 80%;
  color: var(--colorTheme3);
  padding: 10px;
  margin: none;
}
.dataTxt {
  grid-column: 2 / 4;
}
.descTxt {
  grid-column: 1 / 4;
}
.bName {
  font-weight: 800;
}