#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
  display: flex;
  --colorTheme1: black;
  --colorTheme2: #888;
  --colorTheme3: rgba(12, 12, 107, 0.94);
}
.formDiv {
  outline: solid 1px white;
  border-radius: 10px;
  min-width: 20vw;
  padding: 50px;
  margin: 25px;
  text-align: end;
  max-height: 550px;
}
.cvDiv {
  min-width: 35vw;
  color: black;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  padding-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
header {
  padding: 20px;  
  color: white;
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(1fr) );
  align-items: center;
  text-align: center;
  background-color:var(--colorTheme3);
  
}
.name {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: end;
}
.educationDiv {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr) );
}
.experienceDiv {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr) );
}
.topSpan {
  grid-column: 1 / 4; 
}
.educationDiv > .dateRange {
  grid-column: 1 / 2;
}
.experienceDiv > .dateRange {
  grid-row: 1 / 2;
}

.container {
  background-color: whitesmoke;

}
.flex {
  display: flex;
  justify-content: center;
}
.sectionHeader {
  background-color: var(--colorTheme2);
  width: 80%;
  color: var(--colorTheme3);
  padding: 10px;
  margin: none;
}
.dataTxt {
  grid-column: 3 / 4;
  
}
.descTxt {
  grid-column: 1 / 4;
  border-bottom: solid 1px black;
  padding: 0 60px 20px 60px;
}
.bName {
  font-weight: 800;
}

.hide {
  display: none;
}
button {
  min-width: 100%;
  margin: 10px;
}
.visible {
  display: block;
  animation: expand 500ms ease-in-out;
  transform-origin: top;
  }
  
  @keyframes expand {
  0% {
  transform: scaleY(0);
  }
  
  70% {
  transform: scaleY(1.1);
  }
  
  100% {
  transform: scaleY(1);
  }
  }